@model List<Car>;
@{var cars = Model;}

@{
    string? name = null;
    
    void carImage(Car car)
    {
        <figure class="figure">
            <img src="@(car.Image)" class="figure-img img-fluid rounded" alt="@(car.Name)">
            <figcaption class="figure-caption">@(car.Name)</figcaption>
        </figure>
    }
    
    void carName(Car car)
    {
        <span>@(name)</span>
    }

    void carDuration(Car car)
    {
        <span>@($"{DateTime.Now.Year - car.FirstUseDate.Year} Years")</span>
    }
}

<h1 class="text-danger">Table</h1>

<table>
    <thead>
        <tr class="text-center border-bottom-1">
            <th>Image</th>
            <th>Name</th>
            <th>Usage Duration</th>
            <th>Description</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var car in cars)
        {
            <tr>
                <td class="p-3">@{ carImage(car); }</td>
                <td class="p-3">@{ carName(car); }</td>
                <td class="p-3">@{ carDuration(car); }</td>
                <td class="p-3">@Html.Raw(car.HtmlDescription)</td>
                <td class="p-3"><a href="/cars/details?model=@(car.Model)&source=@Status.Table"><button class="btn btn-primary">Show Details</button></a></td>
            </tr>
        }
    </tbody>
</table>

<br/><br/><br/> <hr/> <br/><br/><br/>

<h1 class="text-danger">List</h1>

<ul>
    @foreach (var car in cars)
    {
        <li>
            @{ carImage(car); }
            @{ carName(car); }
            @{ carDuration(car); }
            <a class="ps-4" href="/cars/details?model=@(car.Model)&source=@Status.List"><button class="btn btn-warning">Show Details</button></a>
        </li>
    }
</ul>

@*
    Outstanding task => keep it up 

    Think about removing duplication of this code:
    <figure>
        <img src="@cars[i].Image" alt="@cars[i].Model From @cars[i].Manufacturer" />
        <figcaption>@cars[i].Model From @cars[i].Manufacturer</figcaption>
    </figure>

    These two also:
    {cars[i].Model} From {cars[i].Manufacturer}
    {DateTime.Now.Year - cars[i].FirstUseDate.Year}
*@